### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pdata = pd.read_csv(file)

* Display the total number of players

In [2]:
snsum = pdata["SN"].unique().size

In [3]:
playercount = pd.DataFrame({"Total Players":[snsum]})

## Player Count

In [4]:
playercount

   Total Players
0            576

In [5]:
iid = pdata["Item ID"].unique().size

In [6]:
iid = pdata["Item ID"].value_counts().count()

In [7]:
avgpr = pdata["Price"].mean()

In [8]:
ttlpur = pdata["Purchase ID"].count()

In [9]:
rev = pdata["Price"].sum()

In [10]:
analyze_df = pd.DataFrame({"Total Users":[snsum], "Number of Unique Items":[iid], 
"Average Price" : [f'${avgpr:,.2f}'],
"Number of Purchases" : [ttlpur],
"Total Revenue" : [f'${rev:,.2f}']})

## Player Count/Purchasing Analysis

In [11]:
analyze_df

,Total Users,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,"$2,379.77"

In [12]:
genders = pdata.drop_duplicates("SN")

In [13]:
gdemos = pd.DataFrame(genders)

In [14]:
gcounts = gdemos["Gender"].value_counts()

In [15]:
gders = gdemos["Gender"].unique()

In [16]:
male = gdemos["Gender"].value_counts()[0]

In [17]:
female = gdemos["Gender"].value_counts()[2]

In [18]:
other = gdemos["Gender"].value_counts()[1]

In [19]:
mper = (male/snsum)
fper = (female/snsum)
oper = (other/snsum)

In [22]:
gcounts = (male, female, other)

In [23]:
pctg = (mper, fper, oper)

In [24]:
gdemo_df = pd.DataFrame()
gdemo_df["Genders"] = gders
gdemo_df["Count"] = gcounts
gdemo_df["Percentage"] = pctg

In [25]:
gper = gdemo_df["Percentage"].map('{:.2%}'.format)

In [26]:
gdemo_df["Percent"] = gper

In [27]:
del gdemo_df["Percentage"]

## Gender Demographics

In [28]:
gdemo_df.head()

                 Genders  Count Percent
0                   Male    484  84.03%
1  Other / Non-Disclosed     11   1.91%
2                 Female     81  14.06%

In [29]:
pag_df = pd.DataFrame(pdata)

In [30]:
paperc = pag_df['Gender'].value_counts(normalize=True).map('{:.2%}'.format)

In [31]:
pagdf_groupby_sex = pag_df.groupby('Gender')

In [32]:
pagdf_groupby_sex.ngroups

3

In [33]:
pc = pagdf_groupby_sex["Purchase ID"].count()

In [34]:
app = pagdf_groupby_sex["Price"].mean()

In [35]:
tpv = pagdf_groupby_sex["Price"].sum()

In [47]:
gcounts = gdemos["Gender"].value_counts()

In [48]:
sncntt = tpv / gcounts


## Purchasing Analysis (Gender)

In [49]:
pag_anadf = pd.DataFrame()
pag_anadf["Purchase Count"] = pc
pag_anadf["Average Purchase Price"] = app
pag_anadf["Total Purchase Value"] = tpv
pag_anadf["Average Total Purchase per Person"] = sncntt
pag_anadf.round(2) 
pag_anadf.round({"Purchase Count":0, "Average Purchase Price":2, "Total Purchase Value":2, "Average Total Purchase per Person":2})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [67]:
pag_anaadf = pd.DataFrame(gdemos)
pag_anaadf
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40>"]

pag_anaadf["Age Demographics"] = pd.cut(pdata["Age"], bins, labels=groups, include_lowest=True)
                                
dpdata = pag_anaadf.set_index("Age Demographics")
age_demos = dpdata.groupby(["Age Demographics"]).size()

In [68]:
agedemos = pd.DataFrame(age_demos)
agedemos["Percentages of Players"] = agedemos / snsum

In [69]:
agedemossy = agedemos["Percentages of Players"].map('{:.2%}'.format)

## Age Demographics

In [70]:
agedemos["Percentage of Players"] = agedemossy
agedemos.round(2) 
del agedemos["Percentages of Players"]
agedemos.columns = ['Total Count', 'Percentage of Players']
agedemos

                  Total Count Percentage of Players
Age Demographics
<10                        17                 2.95%
10-14                      22                 3.82%
15-19                     107                18.58%
20-24                     258                44.79%
25-29                      77                13.37%
30-34                      52                 9.03%
35-39                      31                 5.38%
40>                        12                 2.08%

In [71]:
pabg = pd.DataFrame(pdata)

In [72]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40>"]

pabg["Age Demographics"] = pd.cut(pabg["Age"], bins, labels=groups, include_lowest=True)
                                
adpdata = pabg.set_index("Age Demographics")
adge_demos = pabg.groupby(["Age Demographics"]).size()

In [73]:
pagdf_groupby_age = pabg.groupby('Age Demographics')

In [74]:
pabage = pd.DataFrame(pabg)

In [75]:
agecount = pabage["SN"].count()

In [76]:
pcage = pagdf_groupby_age["Purchase ID"].count()

In [77]:
appage = pagdf_groupby_age["Price"].mean()

In [78]:
tpvage = pagdf_groupby_age["Price"].sum()

In [79]:
ages = pabage.drop_duplicates("SN")

In [80]:
groupedage = ages.groupby('Age Demographics')

In [81]:
groupedages = groupedage["Purchase ID"].count()

In [82]:
atpppage = tpvage / groupedages

## Purchasing Analysis (Age)

In [92]:
purchaseanalysis = pd.DataFrame()
purchaseanalysis["Purchase Count"] = pcage
purchaseanalysis["Average Purchase Price"] = appage
purchaseanalysis["Total Purchase Value"] = tpvage
purchaseanalysis["Average Total Purchase per Person"] = atpppage
purchaseanalysis.round(2) 
purchaseanalysis.round({"Purchase Count":0, "Average Purchase Price":2, "Total Purchase Value":2, "Average Total Purchase per Person":2})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Demographics,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40>,13,2.94,38.24,3.19

In [93]:
ts = pd.DataFrame(pdata)

In [94]:
lisoc = ts.loc[ts["SN"]=='Lisosia93']
idac = ts.loc[ts["SN"]=='Idastidru52']
chamc = ts.loc[ts["SN"]=='Chamjask73']
irac = ts.loc[ts["SN"]=='Iral74']
iskac = ts.loc[ts["SN"]=='Iskadarya95']

In [95]:
lisodf = pd.DataFrame(lisoc)
idadf = pd.DataFrame(idac)
chamdf = pd.DataFrame(chamc)
iradf = pd.DataFrame(irac)
iskadf = pd.DataFrame(iskac)

In [96]:
lisocount = lisodf["Price"].count()
idacount = idadf["Price"].count()
chamcount = chamdf["Price"].count()
iracount = iradf["Price"].count()
iskacount = iskadf["Price"].count()

In [97]:
lisoapp = lisodf["Price"].mean()
idaapp = idadf["Price"].mean()
chamapp = chamdf["Price"].mean()
iraapp = iradf["Price"].mean()
iskaapp = iskadf["Price"].mean()

In [98]:
lisosum = lisodf["Price"].sum()
idasum = idadf["Price"].sum()
chamsum = chamdf["Price"].sum()
irasum = iradf["Price"].sum()
iskasum = iskadf["Price"].sum()

In [99]:
topspend = {"SN": ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"], "Count" : [lisocount, idacount, chamcount, iracount, iskacount], "Average Purchase Price" : [lisoapp, idaapp, chamapp, iraapp, iskaapp], "Total Purchase Value" : [lisosum, idasum, chamsum, irasum, iskasum]}

## Top Spenders

In [100]:
spenders = pd.DataFrame(topspend, columns= ["SN", "Count", "Average Purchase Price", "Total Purchase Value"]).round(2)
spenders

            SN  Count  Average Purchase Price  Total Purchase Value
0    Lisosia93      5                    3.79                 18.96
1  Idastidru52      4                    3.86                 15.45
2   Chamjask73      3                    4.61                 13.83
3       Iral74      4                    3.40                 13.62
4  Iskadarya95      3                    4.37                 13.10

In [101]:
popular = pd.DataFrame(pdata)

In [102]:
itemprice = popular.groupby(["Item ID", "Item Name"])["Price"]
prices = itemprice.head().to_frame()

In [103]:
ipcount = itemprice.count()

In [104]:
ipsum = itemprice.sum()

In [105]:
ipvalue = itemprice.value_counts()

In [106]:
ipvalues = pd.DataFrame(ipvalue)

In [107]:
ipcounts = pd.DataFrame(ipcount)

In [108]:
itemprice.count

In [109]:
ipcountsdf = ipcounts.sort_values(by="Price", ascending=False)

In [110]:
ipcounts_analyze = pd.DataFrame(ipcountsdf)

In [111]:
ipcounts_analyzed = ipcounts_analyze.rename(columns={"Price": "Purchase Count"})

## Most Popular Items

In [114]:
ipcounts_analyzed = pd.DataFrame(ipcounts_analyzed)
ipcounts_analyzed["Total Purchase Value"] = ipsum
ipcounts_analyzed.head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
132,Persuasion,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,31.77

In [126]:
profitable = pd.DataFrame(ipcounts_analyzed)

In [127]:
profitabledf = profitable.sort_values(by="Total Purchase Value", ascending=False)

## Most Profitable Items

In [130]:
profitabledf.head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
103,Singed Scalpel,8,34.80