### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pdata = pd.read_csv(file)

* Display the total number of players

In [2]:
pdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
pdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
snsum = pdata["SN"].unique().size

In [5]:
playercount = pd.DataFrame({"Total Players":[snsum]})

## Player Count

In [6]:
playercount

   Total Players
0            576

In [7]:
iid = pdata["Item ID"].unique().size

In [8]:
iid = pdata["Item ID"].value_counts().count()

In [9]:
avgpr = pdata["Price"].mean()

In [10]:
ttlpur = pdata["Purchase ID"].count()

In [11]:
rev = pdata["Price"].sum()

In [12]:
analyze_df = pd.DataFrame({"Total Users":[snsum], "Number of Unique Items":[iid], 
"Average Price" : [f'${avgpr:,.2f}'],
"Number of Purchases" : [ttlpur],
"Total Revenue" : [f'${rev:,.2f}']})

## Player Count/Purchasing Analysis

In [13]:
analyze_df

,Total Users,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,"$2,379.77"

In [14]:
genders = pdata.drop_duplicates("SN")

In [15]:
gdemos = pd.DataFrame(genders)

In [16]:
gcounts = gdemos["Gender"].value_counts()

In [17]:
gders = gdemos["Gender"].unique()

In [18]:
male = gdemos["Gender"].value_counts()[0]

In [19]:
female = gdemos["Gender"].value_counts()[2]

In [20]:
other = gdemos["Gender"].value_counts()[1]

In [21]:
mper = (male/snsum)

In [22]:
fper = (female/snsum)

In [23]:
oper = (other/snsum)

In [24]:
gcounts = (male, female, other)

In [25]:
pctg = (mper, fper, oper)

In [26]:
gdemo_df = pd.DataFrame()
gdemo_df["Genders"] = gders
gdemo_df["Count"] = gcounts
gdemo_df["Percentage"] = pctg

In [27]:
gper = gdemo_df["Percentage"].map('{:.2%}'.format)

In [28]:
gdemo_df["Percent"] = gper

In [29]:
del gdemo_df["Percentage"]

## Gender Demographics

In [30]:
gdemo_df.head()

                 Genders  Count Percent
0                   Male    484  84.03%
1  Other / Non-Disclosed     11   1.91%
2                 Female     81  14.06%

In [31]:
pag_df = pd.DataFrame(pdata)

In [32]:
paperc = pag_df['Gender'].value_counts(normalize=True).map('{:.2%}'.format)

In [33]:
pagdf_groupby_sex = pag_df.groupby('Gender')

In [34]:
pagdf_groupby_sex.ngroups

3

In [35]:
pc = pagdf_groupby_sex["Purchase ID"].count()

In [36]:
app = pagdf_groupby_sex["Price"].mean()

In [37]:
tpv = pagdf_groupby_sex["Price"].sum()

In [38]:
gcounts = gdemos["Gender"].value_counts()

In [39]:
sncntt = tpv / gcounts


## Purchasing Analysis (Gender)

In [40]:
pag_anadf = pd.DataFrame()
pag_anadf["Purchase Count"] = pc
pag_anadf["Average Purchase Price"] = app
pag_anadf["Total Purchase Value"] = tpv
pag_anadf["Average Total Purchase per Person"] = sncntt
pag_anadf.round(2) 
pag_anadf.round({"Purchase Count":0, "Average Purchase Price":2, "Total Purchase Value":2, "Average Total Purchase per Person":2})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [41]:
pag_anaadf = pd.DataFrame(gdemos)
pag_anaadf
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40>"]

pag_anaadf["Age Demographics"] = pd.cut(pdata["Age"], bins, labels=groups, include_lowest=True)
                                
dpdata = pag_anaadf.set_index("Age Demographics")
age_demos = dpdata.groupby(["Age Demographics"]).size()

In [42]:
agedemos = pd.DataFrame(age_demos)
agedemos["Percentages of Players"] = agedemos / snsum

                    0  Percentages of Players
Age Demographics
<10                17                0.029514
10-14              22                0.038194
15-19             107                0.185764
20-24             258                0.447917
25-29              77                0.133681
30-34              52                0.090278
35-39              31                0.053819
40>                12                0.020833

In [45]:
agedemossy = agedemos["Percentages of Players"].map('{:.2%}'.format)

KeyError: 'Percentages of Players'

## Age Demographics

In [44]:
agedemos["Percentage of Players"] = agedemossy
agedemos.round(2) 
del agedemos["Percentages of Players"]
agedemos.columns = ['Total Count', 'Percentage of Players']
agedemos

                  Total Count Percentage of Players
Age Demographics
<10                        17                 2.95%
10-14                      22                 3.82%
15-19                     107                18.58%
20-24                     258                44.79%
25-29                      77                13.37%
30-34                      52                 9.03%
35-39                      31                 5.38%
40>                        12                 2.08%

## **do not edit code above this line**

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame