### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pdata = pd.read_csv(file)

## Player Count

* Display the total number of players

In [2]:
pdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
pdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [4]:
snsum = pdata["SN"].unique().size

In [5]:
iid = pdata["Item ID"].unique().size

In [6]:
iid = pdata["Item ID"].value_counts().count()

In [7]:
avgpr = pdata["Price"].mean()

In [8]:
ttlpur = pdata["Purchase ID"].count()

In [9]:
rev = pdata["Price"].sum()

In [10]:
analyze_df = pd.DataFrame({"Total Users":[snsum], "Number of Unique Items":[iid], 
"Average Price" : [f'${avgpr:,.2f}'],
"Number of Purchases" : [ttlpur],
"Total Revenue" : [f'${rev:,.2f}']})

## Player Count/Purchasing Analysis

In [11]:
analyze_df

,Total Users,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,"$2,379.77"

In [12]:
genders = pdata.drop_duplicates("SN")

In [13]:
gdemos = pd.DataFrame(genders)

In [14]:
gcounts = gdemos["Gender"].value_counts()
gcounts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [15]:
##gdemos["Gender"].value_counts(ascending=False)

In [16]:
gders = gdemos["Gender"].unique()
gders

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [17]:
male = gdemos["Gender"].value_counts()[0]

In [18]:
female = gdemos["Gender"].value_counts()[2]

In [19]:
other = gdemos["Gender"].value_counts()[1]

In [20]:
mper = (male/snsum)

In [21]:
fper = (female/snsum)

In [22]:
oper = (other/snsum)

In [23]:
gcounts = (male, female, other)

In [24]:
pctg = (mper, fper, oper)

In [25]:
gdemo_df = pd.DataFrame()
gdemo_df["Genders"] = gders
gdemo_df["Count"] = gcounts
gdemo_df["Percentage"] = pctg

In [26]:
gper = gdemo_df["Percentage"].map('{:.2%}'.format)

In [27]:
gdemo_df["Percent"] = gper

In [28]:
del gdemo_df["Percentage"]

## Gender Demographics

In [29]:
gdemo_df.head()

                 Genders  Count Percent
0                   Male    484  84.03%
1  Other / Non-Disclosed     11   1.91%
2                 Female     81  14.06%

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
pag_df = pd.DataFrame(pdata)

In [58]:
paperc = pag_df['Gender'].value_counts(normalize=True).map('{:.2%}'.format)

In [59]:
pagdf_groupby_sex = pag_df.groupby('Gender')

In [60]:
pagdf_groupby_sex.ngroups

3

In [61]:
pc = pagdf_groupby_sex["Purchase ID"].count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [37]:
app = pagdf_groupby_sex["Price"].mean()

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [38]:
tpv = pagdf_groupby_sex["Price"].sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [65]:
gcounts = gdemos["Gender"].value_counts()

In [66]:
sncntt = tpv / gcounts

In [67]:
pag_anadf = pd.DataFrame()
pag_anadf["Purchase Count"] = pc
pag_anadf["Average Purchase Price"] = app
pag_anadf["Total Purchase Value"] = tpv
pag_anadf["Average Total Purchase per Person"] = sncntt


## Purchasing Analysis (Gender)

In [68]:
pag_anadf

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## **do not edit code above this line**

In [43]:
pagdf_groupby_sex.groups

{'Female': [15, 18, 38, 41, 55, 66, 71, 72, 76, 81, 84, 85, 92, 112, 113, 117, 119, 125, 134, 140, 142, 155, 157, 166, 169, 177, 178, 196, 199, 206, 210, 215, 222, 225, 233, 254, 267, 273, 274, 276, 278, 280, 283, 289, 296, 297, 306, 317, 327, 333, 336, 339, 347, 357, 369, 384, 392, 402, 404, 409, 418, 422, 427, 429, 436, 437, 440, 444, 445, 446, 448, 450, 451, 478, 482, 485, 504, 516, 519, 520, 524, 528, 548, 555, 558, 564, 569, 572, 578, 579, 586, 588, 607, 608, 613, 615, 618, 641, 653, 658, ...], 'Male': [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 73, 74, 75, 77, 78, 79, 80, 83, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 114, 115, 116, 118, 120, ...], 'Other / Non-Disclosed': [9, 22, 82, 111, 228, 237, 242, 291, 350, 401, 484, 549, 629, 637, 747]}

In [44]:
df_female = pagdf_groupby_sex.get_group('Female')
df_female.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [45]:
df_male = pagdf_groupby_sex.get_group('Male')
df_male.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [46]:
df_other = pagdf_groupby_sex.get_group('Other / Non-Disclosed')
df_other.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [47]:
pag_df.groupby("Gender").SN.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [48]:
gdata = pag_df.groupby("Gender").Price.agg(
    Purchase_Count=('count'),
    Average_Purchase_Price = ('mean'),
    Total_Purchase_Value = ('sum'),
)

In [49]:
gdata_df = pd.DataFrame(gdata)
gdata_df.head()

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [50]:
favgp = df_female.Price.mean()
favgp

3.203008849557519

In [51]:
oavgp = df_other.Price.mean()
oavgp

3.3460000000000005

In [52]:
mtpv = df_male.Price.sum()
mtpv

1967.64

In [53]:
ftpv = df_female.Price.sum()
ftpv

361.94

In [54]:
otpv = df_other.Price.sum()
otpv

50.19

In [55]:
### test code

arrays = [gders, cbg, gcounts, gper]
index = pd.MultiIndex.from_arrays(arrays, names=("Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value"))
df = pd.DataFrame({'Max Speed': [123, 456, 789]},
                  index=index)
df

NameError: name 'cbg' is not defined

In [ ]:
                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
df.groupby(level=0).mean()
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
df.groupby(level="Type").mean()
         Max Speed
Type
Captive      210.0
Wild         185.0

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame