### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [111]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pdata = pd.read_csv(file)

* Display the total number of players

In [112]:
snsum = pdata["SN"].unique().size

In [113]:
playercount = pd.DataFrame({"Total Players":[snsum]})

## Player Count

In [114]:
playercount

   Total Players
0            576

In [115]:
iid = pdata["Item ID"].unique().size

In [116]:
iid = pdata["Item ID"].value_counts().count()

In [117]:
avgpr = pdata["Price"].mean()

In [118]:
ttlpur = pdata["Purchase ID"].count()

In [119]:
rev = pdata["Price"].sum()

In [120]:
analyze_df = pd.DataFrame({"Total Users":[snsum], "Number of Unique Items":[iid], 
"Average Price" : [f'${avgpr:,.2f}'],
"Number of Purchases" : [ttlpur],
"Total Revenue" : [f'${rev:,.2f}']})

## Player Count/Purchasing Analysis

In [121]:
analyze_df

,Total Users,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,"$2,379.77"

In [122]:
genders = pdata.drop_duplicates("SN")

In [123]:
gdemos = pd.DataFrame(genders)

In [124]:
gcounts = gdemos["Gender"].value_counts()

In [125]:
gders = gdemos["Gender"].unique()

In [126]:
male = gdemos["Gender"].value_counts()[0]

In [127]:
female = gdemos["Gender"].value_counts()[2]

In [128]:
other = gdemos["Gender"].value_counts()[1]

In [129]:
mper = (male/snsum)

In [130]:
fper = (female/snsum)

In [131]:
oper = (other/snsum)

In [132]:
gcounts = (male, female, other)

In [133]:
pctg = (mper, fper, oper)

In [134]:
gdemo_df = pd.DataFrame()
gdemo_df["Genders"] = gders
gdemo_df["Count"] = gcounts
gdemo_df["Percentage"] = pctg

In [135]:
gper = gdemo_df["Percentage"].map('{:.2%}'.format)

In [136]:
gdemo_df["Percent"] = gper

In [137]:
del gdemo_df["Percentage"]

## Gender Demographics

In [138]:
gdemo_df.head()

                 Genders  Count Percent
0                   Male    484  84.03%
1  Other / Non-Disclosed     11   1.91%
2                 Female     81  14.06%

In [139]:
pag_df = pd.DataFrame(pdata)

In [140]:
paperc = pag_df['Gender'].value_counts(normalize=True).map('{:.2%}'.format)

In [141]:
pagdf_groupby_sex = pag_df.groupby('Gender')

In [142]:
pagdf_groupby_sex.ngroups

3

In [143]:
pc = pagdf_groupby_sex["Purchase ID"].count()

In [144]:
app = pagdf_groupby_sex["Price"].mean()

In [145]:
tpv = pagdf_groupby_sex["Price"].sum()

In [146]:
gcounts = gdemos["Gender"].value_counts()

In [147]:
sncntt = tpv / gcounts


## Purchasing Analysis (Gender)

In [148]:
pag_anadf = pd.DataFrame()
pag_anadf["Purchase Count"] = pc
pag_anadf["Average Purchase Price"] = app
pag_anadf["Total Purchase Value"] = tpv
pag_anadf["Average Total Purchase per Person"] = sncntt
pag_anadf.round(2) 
pag_anadf.round({"Purchase Count":0, "Average Purchase Price":2, "Total Purchase Value":2, "Average Total Purchase per Person":2})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [149]:
pag_anaadf = pd.DataFrame(gdemos)
pag_anaadf
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40>"]

pag_anaadf["Age Demographics"] = pd.cut(pdata["Age"], bins, labels=groups, include_lowest=True)
                                
dpdata = pag_anaadf.set_index("Age Demographics")
age_demos = dpdata.groupby(["Age Demographics"]).size()

In [150]:
agedemos = pd.DataFrame(age_demos)
agedemos["Percentages of Players"] = agedemos / snsum

In [151]:
agedemossy = agedemos["Percentages of Players"].map('{:.2%}'.format)

## Age Demographics

In [152]:
agedemos["Percentage of Players"] = agedemossy
agedemos.round(2) 
del agedemos["Percentages of Players"]
agedemos.columns = ['Total Count', 'Percentage of Players']
agedemos

                  Total Count Percentage of Players
Age Demographics
<10                        17                 2.95%
10-14                      22                 3.82%
15-19                     107                18.58%
20-24                     258                44.79%
25-29                      77                13.37%
30-34                      52                 9.03%
35-39                      31                 5.38%
40>                        12                 2.08%

In [153]:
pabg = pd.DataFrame(pdata)

In [154]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40>"]

pabg["Age Demographics"] = pd.cut(pabg["Age"], bins, labels=groups, include_lowest=True)
                                
adpdata = pabg.set_index("Age Demographics")
adge_demos = pabg.groupby(["Age Demographics"]).size()

In [155]:
pagdf_groupby_age = pabg.groupby('Age Demographics')

In [156]:
pabage = pd.DataFrame(pabg)

In [157]:
agecount = pabage["SN"].count()

In [158]:
pcage = pagdf_groupby_age["Purchase ID"].count()

In [159]:
appage = pagdf_groupby_age["Price"].mean()

In [160]:
tpvage = pagdf_groupby_age["Price"].sum()

In [161]:
ages = pabage.drop_duplicates("SN")

In [162]:
groupedage = ages.groupby('Age Demographics')

In [163]:
groupedages = groupedage["Purchase ID"].count()

In [164]:
atpppage = tpvage / groupedages

## Purchasing Analysis (Age)

In [165]:
purchaseanalysis = pd.DataFrame()
purchaseanalysis["Purchase Count"] = pcage
purchaseanalysis["Average Purchase Price"] = appage
purchaseanalysis["Total Purchase Value"] = tpvage
purchaseanalysis["Average Total Purchase per Person"] = atpppage
purchaseanalysis.round(2) 
purchaseanalysis.round({"Purchase Count":0, "Average Purchase Price":2, "Total Purchase Value":2, "Average Total Purchase per Person":2})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Demographics,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40>,13,2.94,38.24,3.19

In [166]:
ts = pd.DataFrame(pdata)

In [167]:
lisoc = ts.loc[ts["SN"]=='Lisosia93']
idac = ts.loc[ts["SN"]=='Idastidru52']
chamc = ts.loc[ts["SN"]=='Chamjask73']
irac = ts.loc[ts["SN"]=='Iral74']
iskac = ts.loc[ts["SN"]=='Iskadarya95']

In [168]:
lisodf = pd.DataFrame(lisoc)
idadf = pd.DataFrame(idac)
chamdf = pd.DataFrame(chamc)
iradf = pd.DataFrame(irac)
iskadf = pd.DataFrame(iskac)

In [169]:
lisocount = lisodf["Price"].count()
idacount = idadf["Price"].count()
chamcount = chamdf["Price"].count()
iracount = iradf["Price"].count()
iskacount = iskadf["Price"].count()

In [170]:
lisoapp = lisodf["Price"].mean()
idaapp = idadf["Price"].mean()
chamapp = chamdf["Price"].mean()
iraapp = iradf["Price"].mean()
iskaapp = iskadf["Price"].mean()

In [171]:
lisosum = lisodf["Price"].sum()
idasum = idadf["Price"].sum()
chamsum = chamdf["Price"].sum()
irasum = iradf["Price"].sum()
iskasum = iskadf["Price"].sum()

In [172]:
topspend = {"SN": ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"], "Count" : [lisocount, idacount, chamcount, iracount, iskacount], "Average Purchase Price" : [lisoapp, idaapp, chamapp, iraapp, iskaapp], "Total Purchase Value" : [lisosum, idasum, chamsum, irasum, iskasum]}

## Top Spenders

In [173]:
spenders = pd.DataFrame(topspend, columns= ["SN", "Count", "Average Purchase Price", "Total Purchase Value"]).round(2)
spenders

            SN  Count  Average Purchase Price  Total Purchase Value
0    Lisosia93      5                    3.79                 18.96
1  Idastidru52      4                    3.86                 15.45
2   Chamjask73      3                    4.61                 13.83
3       Iral74      4                    3.40                 13.62
4  Iskadarya95      3                    4.37                 13.10

## **do not edit code above this line**

In [174]:
popular = pd.DataFrame(pdata)
popular.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40>
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [199]:
itemprice = popular.groupby(["Item ID", "Item Name"])["Price"]
itemprice.head().to_frame()

     Price
0     3.53
1     1.56
2     4.88
3     3.27
4     1.44
..     ...
764   4.07
765   2.07
766   4.14
777   3.46
779   4.60

[690 rows x 1 columns]

In [200]:
ipcount = itemprice.count()

In [201]:
ipsum = itemprice.sum()

In [202]:
ipvalue = itemprice.value_counts()

In [203]:
ipvalues = pd.DataFrame(ipvalue)

In [204]:
ipcounts = pd.DataFrame(ipcount)

In [205]:
itemprice.count

In [206]:
ipcountsdf = ipcounts.sort_values(by="Price", ascending=False)

In [207]:
ipcounts_analyze = pd.DataFrame(ipcountsdf)

                                                      Price
Item ID Item Name
92      Final Critic                                     13
178     Oathbreaker, Last Hope of the Breaking Storm     12
145     Fiery Glass Crusader                              9
132     Persuasion                                        9
108     Extraction, Quickblade Of Trembling Hands         9

In [208]:
ipcounts_analyzed = ipcounts_analyze.rename(columns={"Price": "Purchase Count"})

In [209]:
ipcounts_analyzed = pd.DataFrame(ipcounts_analyzed)
ipcounts_analyzed["Total Purchase Value"] = ipsum
ipcounts_analyzed.head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
132,Persuasion,9,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,31.77

ValueError: ('Lengths must match to compare', (780,), (1,))

In [187]:

newpop = popularitem.rename(columns={"Purchase ID": "Purchase Count"})
newpop.sort_values(by="Purchase Count", ascending=False)
newpop.head()

NameError: name 'popularitem' is not defined

## stop

In [ ]:
newpop.sort_values(by="Purchase Count", ascending=False)

In [ ]:
popcountsss = newpop["Item ID"].value_counts()
popcountsss

In [ ]:
popularitem["Purchase ID"]

In [ ]:
popitems = pd.DataFrame(groupeditems, columns=["Item ID", "Item Name", "Price"])

In [ ]:
groupby_item2 = popular.set_index(["Item ID", "Item Name", "Price"])

In [ ]:
groupby_itemss = groupby_item2.groupby(level=groupby_item2.index.names.difference(["Item Name", "Price"]))
groupby_itemss.head()

## Most Popular Items

In [ ]:
popcount = popular.loc[popular['Item ID']]
popcount

In [ ]:
popcountsss = popular["Item ID"].value_counts()
popcountsss

In [ ]:
pagdf_groupby_item = pag_df.groupby('Item ID')

In [ ]:
groupeditems = pagdf_groupby_item.head()
groupeditems

In [ ]:
popitems = pd.DataFrame(groupeditems, columns=["Item ID", "Item Name", "Price"])
popitems.reset_index()
popitems

In [ ]:
popitems_df = pd.DataFrame(popcountsss)
popitems_df.reset_index()
popitems_df

In [ ]:
popitems["Purchase Count"] = poppurc
popitems

In [ ]:
itemdemos.sort_values(by="Item ID", ascending=False)

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
pagdf_groupby_item = pag_df.set_index("Item ID")
pagdf_groupby_item.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame